name: Deploy Laravel to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          echo "${{ secrets.EC2_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem

      - name: Upload code to EC2
        run: |
          rsync -avz \
            --exclude=".git/" \
            --exclude=".github/" \
            --exclude="ec2_key.pem" \
            -e "ssh -i ec2_key.pem -o StrictHostKeyChecking=no" ./ \
            ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/laravel-temp

      - name: Deploy and configure Laravel
        run: |
          ssh -i ec2_key.pem -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} "
            sudo rm -rf /var/www/html/* && \
            sudo cp -r /home/ubuntu/laravel-temp/* /var/www/html/ && \
            sudo chown -R www-data:www-data /var/www/html/ && \
            cd /var/www/html && \
            composer install --no-dev --optimize-autoloader && \
            sudo chown -R www-data:www-data storage bootstrap/cache && \
            php artisan config:cache && \
            php artisan route:cache && \
            php artisan view:cache && \
            rm -rf /home/ubuntu/laravel-temp
          "
