name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up SSH key
        run: |
          echo "${{ secrets.EC2_KEY }}" > ec2_key.pem
          chmod 600 ec2_key.pem

      - name: Upload site to EC2
        run: |
          rsync -avz \
            --exclude=".git/" \
            --exclude=".github/" \
            --exclude="ec2_key.pem" \
            -e "ssh -i ec2_key.pem -o StrictHostKeyChecking=no" ./ \
            ubuntu@${{ secrets.EC2_HOST }}:/home/ubuntu/site-temp

      - name: Move files to /var/www/html on EC2
        run: |
          ssh -i ec2_key.pem -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
            sudo rm -rf /var/www/html/*
            sudo cp -r /home/ubuntu/site-temp/* /var/www/html/
            sudo chown -R www-data:www-data /var/www/html/
            rm -rf /home/ubuntu/site-temp
EOF
