name: Deploy Static Website via SSM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Send SSM Command
        id: ssm_deploy
        run: |
          CMD_ID=$(aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy static HTML/CSS from GitHub" \
            --instance-ids "i-068d327ee8eb1b4d7" \
            --region us-east-1 \
            --parameters 'commands=[
              "cd /var/www/html",
              "rm -rf *",
              "git clone https://token:${GH_PAT}@github.com/sanket701748/static.git ."
            ]' \
            --query "Command.CommandId" \
            --output text)
          
          echo "command_id=$CMD_ID" >> "$GITHUB_OUTPUT"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GH_PAT: ${{ secrets.GH_PAT }}

      - name: Fetch SSM Command Output
        run: |
          echo "Waiting for SSM command to complete..."
          sleep 10

          aws ssm get-command-invocation \
            --command-id "${{ steps.ssm_deploy.outputs.command_id }}" \
            --instance-id "i-068d327ee8eb1b4d7" \
            --region us-east-1 \
            --query "StandardOutputContent" \
            --output text
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
