name: Deploy Static Website via SSM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy HTML/CSS via SSM
        run: |
          aws ssm send-command \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy static HTML/CSS from GitHub" \
            --instance-ids "i-068d327ee8eb1b4d7" \
            --region us-east-1 \
            --parameters 'commands=[
              "cd /var/www/html",
              "git pull origin main"
            ]' \
            --output text
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
